.navbar {
  position: sticky;
  top: 0;
  height: 7rem;
  background: #fff;
  /* border: 1px solid; */
  box-shadow: 0 1px 10px -2px black;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo p {
  font-size: 1.5rem;
  font-weight: 500;
}
.navmenu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  gap: 0.5rem;
}

.navmenu hr {
  height: 3px;
  width: 60%;
  background-color: red;
  border: none;
}
.btn1 {
  border: 1px solid red;
  padding: 0.6rem 2.5rem;
  border-radius: 2rem;
  font-size: 1.2rem;
}

.btn1:active {
  background-color: gray;
}

.cartnum {
  height: 22px;
  width: 22px;
  background-color: red;
  color: #fff;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  margin-left: -10px;
}
